@Url_resource:'http://7vzrbt.com1.z0.glb.clouddn.com';

.main{

  .section{
    background-size: 100%;
    font-family: "Exo",'Microsoft YaHei';
    color: #fff;
    text-align: center;
    a{
      font-family: "Exo",'Microsoft YaHei';
      color: #551A8B;
    }
  }
  .page1{
    background-image:url("@{Url_resource}/intro.jpg");
    background-color: #1bbc9b;

    img{margin-top: 180px}
    h1{margin-bottom: 40px}
    p{margin-top: 10px;}
    h3{
      margin-top: 40px;
      i{color: cornflowerblue;}
    }
  }
  .page2 {
    background-image:url("@{Url_resource}/night.jpg");
    background-color: #FF7F50;
    border: 1px solid transparent;
    h1{margin-top: 20px}
    .slide{
      text-align: left;
      p{margin-top: 10px}
      .one{
        width:40%;
        text-align:center;
        margin: 200px auto 0px;
      }
    }
  }
  .page3 {
    background-image:url("@{Url_resource}/code_b.jpg");
    background-color: #4BBFC3;
  }
  .page4 {
    background-image:url("@{Url_resource}/keyboard.jpg");
    background-color: #f90;
  }
  .page5 {
    background-image:url("@{Url_resource}/note.jpg");
    background-color: #BAC8D9;
  }
  .page6 {
    background-image:url("@{Url_resource}/thanks.jpg");
    background-color:#D95555;
  }
}

//箭头
.down{
  position: absolute;
  display: block;
  bottom: 10px;
  left: 50%;
  width: 50px;
  height: 28px;
  margin-left: -25px;
  background: url('../images/down.png');
}

//所有激活后的样式
.active{

  .down{
    -webkit-animation:bounce 1s 2s ease both;
    -moz-animation:bounce 1s 2s ease both;
  }
}

//fixbug
.fp-next{
  margin-right: 30px;
}
