@Url_resource:'http://7vzrbt.com1.z0.glb.clouddn.com';

.main{
  .page{
    background-size: 100%;
  }
  .page1{
    background-image:url("@{Url_resource}/intro.jpg");
    background-color: #1bbc9b;
  }
  .page2 {
    background-image:url("@{Url_resource}/night.jpg");
    background-color: #FF7F50;
  }
  .page3 {
    background-image:url("@{Url_resource}/code_b.jpg");
    background-color: #4BBFC3;
  }
  .page4 {
    background-image:url("@{Url_resource}/keyboard.jpg");
    background-color: #f90;
  }
  .page5 {
    background-image:url("@{Url_resource}/note.jpg");
    background-color: #BAC8D9;
  }
  .page6 {
    background-image:url("@{Url_resource}/thanks.jpg");
    background-color:#D95555;
  }
}

p.title { position: relative; top: 35%; font-family: "Exo",'Microsoft YaHei'; color: #fff; text-align: center;}