@charset "UTF-8";
/*字体引用*/
@font-face{font-family:Exo;font-style:normal;font-weight:100;src:local("Exo Thin"),local("Exo-Thin"),url(http://redrock.u.qiniudn.com/ghostwill/ExoThin.woff) format("woff")}
@font-face{font-family:Exo;font-style:normal;font-weight:400;src:local("Exo Regular"),local("Exo-Regular"),url(http://redrock.u.qiniudn.com/ghostwill/ExoRegular.woff) format("woff")}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
img{
    border: none;
}

/*加载提示样式*/
.section_loading{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #eee;
}
.section_loading p{
    position: absolute;
    width: 300px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -150px;
    line-height: 50px;
    text-align:center;
    font-size: 26px;
    letter-spacing: 2px;
    color: #777;
}