.main {
  font-family: 'exo', 'Microsoft YaHei';
}
.main .section {
  background-size: 100%;
}
.main .page1 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/intro.jpg");
  background-color: #1bbc9b;
}
.main .page2 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/night.jpg");
  background-color: #FF7F50;
}
.main .page3 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/code_b.jpg");
  background-color: #4BBFC3;
}
.main .page4 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/keyboard.jpg");
  background-color: #f90;
}
.main .page5 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/note.jpg");
  background-color: #BAC8D9;
}
.main .page6 {
  background-image: url("http://7vzrbt.com1.z0.glb.clouddn.com/thanks.jpg");
  background-color: #D95555;
}
p.title {
  position: relative;
  top: 35%;
  font-family: "Exo", 'Microsoft YaHei';
  color: #fff;
  text-align: center;
}
